@charset "UTF-8";

/* font */
@font-face {
  font-family: 'NotoSans DemiLight';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url(/common/static/font/notokr-demilight.woff2) format('woff2'),
    url(/common/static/font/notokr-demilight.woff) format('woff');
}
@font-face {
  font-family: 'NotoSans Medium';
  font-style: normal;
  font-weight: 400;
  src: local('※'), url(/common/static/font/notokr-medium.woff2) format('woff2'),
    url(/common/static/font/notokr-medium.woff) format('woff');
}
@font-face {
  font-family: 'NotoSans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('※'), url(/common/static/font/notokr-bold.woff2) format('woff2'),
    url(/common/static/font/notokr-bold.woff) format('woff');
}

@font-face {
  font-family: 'NotoSans Light';
  font-style: normal;
  font-weight: 400;
  src: local('※'), url(/common/static/font/notokr-light.woff) format('woff');
}
@font-face {
  font-family: 'NotoSans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('※'), url(/common/static/font/notokr-regular.woff) format('woff');
}
@font-face {
  font-family: 'Compton Book';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url(/common/static/font/Rene.Bieder_Campton.Book.woff) format('woff');
}
@font-face {
  font-family: 'RobotoMono Regular';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url(/common/static/font/RobotoMono-Regular.ttf) format('truetype');
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  -webkit-text-size-adjust: none;
} /* 뷰트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox'] {
  background-color: #666;
  -webkit-appearance: checkbox;
}
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
html input[type='button'],
input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body {
  background: #f7f8f8;
  word-break: keep-all;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline !important;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* global */
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

.show_pc {
  display: block !important;
}
.show_m {
  display: none !important;
}
.obj_motionoff {
  opacity: 0;
  transform: translateX(-50px);
}
.obj_motionon {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* 컨텐츠 드래그 컬러효과 */
::-moz-selection {
  background: #d2d8fb;
}
::selection {
  background: #d2d8fb;
}
img::selection {
  background: none;
}
img::selection {
  background: none;
}
.box_bgview {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  font-size: 0;
}

/* content */
/* title */
.area_document h2 {
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #111;
  letter-spacing: 0px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.area_document h3 {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #e2e4ee;
  border-bottom: none;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;

  font-weight: normal;
  color: #111;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.area_document h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #111;
  letter-spacing: 0px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  padding-top: 40px;
}
/* .area_document p + h4 {
  margin-top: 40px;
} */
.area_document h5 {
  display: block;
  margin-top: 25px;
  margin-bottom: 0px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}
.area_document h2 .anchor,
.area_document h3 .anchor,
.area_document h4 .anchor,
.area_document h5 .anchor {
  margin-left: 8px;
}
.area_document p + .tit_depth4 {
  margin-top: -9px;
}
.area_document p.styled_tit {
  margin-bottom: 18px;
}
.area_document .tit_info {
  position: relative;
  display: block;
  margin: 44px 0 23px;
  padding-left: 15px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}
.area_document .tit_info span {
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  color: #314ffe;
}
.area_document p + .tit_info {
  margin-top: 38px;
}
.area_document .tit_info:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 20px;
  background-color: #314ffe;
}

/* link */
.area_document a {
  font-size: 15px;
  line-height: 25px;
  color: #2d50ff;
  letter-spacing: 0px;
  vertical-align: top;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.txt_code2 {
  display: inline-block;
  padding: 2px 5px 4px !important;
  font-size: 15px !important;
  line-height: 20px !important;
  font-family: 'RobotoMono Regular', consolas, monospace;
  background-color: rgba(45, 80, 255, 0.1);
  vertical-align: top !important;
}
/* table link */
.area_document table a {
  line-height: 24px;
  font-size: 14px;
}
/* desc div */
.area_document .desc_discrip {
  font-size: 14px;
  color: #707070;
  letter-spacing: 0px;
  padding-top: 10px !important;
  line-height: 24px;
}
.area_document .desc_discrip + .desc_discrip {
  padding-top: 0px !important;
}
.area_document .desc_discrip a {
  font-size: 14px;
  line-height: 24px;
}
.area_document p {
  color: #444;
  letter-spacing: 0px;
  line-height: 25px;
  white-space: pre-line;
  padding-top: 18px;
  font-size: 15px;
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  word-break: keep-all;
}
/* .area_document p + p {
  margin-top: -4px;
} */
.area_document p strong,
.area_document table strong,
.area_document ul li strong,
.area_document ol li strong {
  font-weight: normal;
  color: #222;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.area_document h4 + p {
  padding-top: 12px;
}
.area_document h5 + p {
  padding-top: 10px;
}
.area_document .tit_info + p {
  margin-top: -6px;
}
.area_document ul + p {
  margin-top: 15px;
}
.area_document h3 + p {
  padding-top: 16px !important;
}
.area_document h2 + p {
  padding-top: 16px !important;
}
.area_document h3 + .tit_step {
  margin-top: 16px !important;
}
.area_document .tit_step + .inbox_step p {
  padding-top: 12px;
}
.area_document .tit_step + .inbox_step h4:first-child {
  padding-top: 12px !important;
}
.area_document .tit_step + .text_indent p {
  padding-top: 12px;
}
.area_document .tit_step + .text_indent h4:first-child {
  padding-top: 12px !important;
}
.area_document table + p {
  padding-top: 8px !important;
}
.area_document pre + p {
  padding-top: 18px !important;
}
.area_document .img_preveal {
  border: 1px solid #e2e4ee;
  margin-top: 16px;
  background-color: #f7f8f8;
  overflow: hidden;
}
.area_document .img {
  display: block;
  margin-top: 18px;
}
.img_preveal {
  display: inline-block;
  width: 100%;
  min-height: 188px;
  line-height: 188px;
  background-color: #f8f9f9;
  text-align: center;
  box-sizing: border-box;
}

/* blockquote */
.area_document blockquote {
  padding-left: 20px;
}

/* desc box */
/* .area_document div {
  padding: 14px 20px 17px;
  border-radius: 4px;
  font-family: 'NotoSans Light', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  line-height: 26px;
  background-color: #f3f5fe;
  word-break: keep-all;
} */
/* .area_document div strong {
  display: block;
  margin: -1px 0 4px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  font-weight: normal;
  font-size: 16px;
} */
.area_document div.type_caution {
  color: #d0021b;
  background-color: #fff4f4;
}

/* list */
.area_document > ul {
  padding-top: 16px !important;
  padding-left: 32px !important;
}
.text_indent > ul {
  padding-top: 16px !important;
  padding-left: 0 !important;
}
.area_document > ul > li,
.text_indent > ul > li {
  padding-left: 24px !important;
  text-indent: -24px !important;
  padding-top: 9px;
  color: #111;
}
.area_document ul > li:before {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid #444;
  vertical-align: middle;
  box-sizing: border-box;
  content: '';
}
#docsContent .area_document > ul > li:before,
#docsContent .text_indent > ul > li:before {
  margin-right: 20px;
}
.area_document ul li .link_normal {
  padding-top: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-indent: 0;
}
.area_document .link_normal {
  font-size: 16px;
  letter-spacing: 0;
  text-decoration: none;
}
.area_document table .link_normal {
  padding-top: 0;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0px !important;
}

.area_document ul li a {
  padding-top: 0;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-indent: 0;
}

.area_document ul > li {
  list-style: none;
  padding-top: 8px;
  color: #444;
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 25px;
  text-indent: -16px;
  padding-left: 16px;
  box-sizing: border-box;
}
.area_document > ul > li:first-child,
.text_indent > ul > li:first-child {
  padding-top: 0;
}
.area_document > ul > li:before,
.text_indent > ul > li:before {
  background-color: #444;
}
#docsContent .area_document ul li p {
  display: inline-block;
  padding-top: 0;
  text-indent: 0;
}

/* block */
pre {
  overflow-x: auto;
  margin-top: 16px !important;

  font-family: 'RobotoMono Regular', 'NotoSans Light', monospace,
    'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum,
    sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  background-color: #f8f9f9;
}
pre code {
  display: block;
  padding: 13px 19px;
  font-family: inherit;
}
pre + pre {
  margin-top: 26px;
}
pre .hljs {
  padding: 14px 20px;
  background-color: #01092b;
  font-family: 'RobotoMono Regular', consolas, monospace;
}

/* table */
table {
  width: 100%;
  margin-top: 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/* table br + br {
  display: block;
  margin-top: 12px;
  content: " ";
} */
table + br {
  display: block;
  margin-top: 12px;
  content: ' ';
}
table th {
  padding: 8px 12px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  letter-spacing: 0px;
  background-color: #f8f9f9;
  text-align: left;
  vertical-align: middle;
}
table tr {
  border-left: 2px solid transparent;
}
table tr:last-child th {
  border-bottom: none;
}
table td {
  padding: 12px;
  border-top: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
  color: #111;
  letter-spacing: 0px;
  text-align: left;
  vertical-align: top;
  min-width: 50px;
}

table td code.word_break {
  word-break: break-word;
}

table .txt_other1 {
  color: #aaa;
}
table .txt_emph {
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
table .tit_typeinfo.type_other .link_typeinfo {
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  text-decoration: none;
}
.type_aligntop td,
td.type_aligntop {
  vertical-align: top;
}
.type_alignmiddle td,
td.type_alignmiddle {
  vertical-align: middle;
}
.box_table {
  position: relative;
}
.box_table .set_btn {
  margin-top: 32px;
}
.box_table .tit_table + .set_btn {
  margin-top: 16px;
}
.box_table .set_btn.floating_type {
  top: 0;
  right: 0;
  margin-top: 0;
}
.box_table.type_table1 {
  margin-top: -1px;
}
.box_table.type_table1 table {
  margin-top: 0;
}
.box_table .tit_table {
  display: block;
  margin-top: 48px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  letter-spacing: 0px;
}
.box_table .tit_table + .box_choice {
  margin-top: 12px;
}
.box_table .list_normal {
  margin-top: 12px;
}
.txt_compulsory {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  color: #2d70ff;
  line-height: 24px;
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  letter-spacing: 0;
  vertical-align: bottom;
}
.txt_choice {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  letter-spacing: 0;
  vertical-align: bottom;
}
table {
  border-color: #e2e4ee;
}
table tr.emphasis {
  background-color: #f2faff;
}
table th {
  padding: 14px 20px;
  border-color: #e2e4ee;
  font-weight: normal;
  color: #111;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  background-color: #f5f6f9;
}
table td {
  padding: 14px 20px;
  border-color: #e2e4ee;
  color: #444;
}
table td.emphasis {
  background-color: #f2faff;
}

/* img */
.img_preveal .img_thumb {
  vertical-align: middle;
  margin: 0px !important;
}
.img_thumb {
  display: inline-block;
  vertical-align: top;
}
.area_document ol.list_imgstep {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.area_document ol.list_imgstep li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 6px;
  background-color: #f8f9f9;
  list-style: none;
}
.area_document ol.list_imgstep li:first-child {
  margin-left: 0;
}
.area_document ol.list_imgstep strong {
  display: block;
  height: 60px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 58px;
  background-color: #f3f5fe;
}
.area_document ol.list_imgstep img {
  display: block;
  max-width: 100%;
  margin: 25px auto;
}
.area_document ol.list_imgstep p {
  margin: 21px 0;
  padding: 0 30px;
  text-align: center;
  font-family: 'NotoSans Regular', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
}
.area_document ol.list_imgstep img + p {
  margin-top: -4px;
}

/* blank */
.area_document .blank {
  display: block;
  width: 100%;
  height: 12px;
}

/* label */
.area_document ul em,
.area_document ul code,
.area_document ul var,
.area_document p em,
.area_document p code,
.area_document p var {
  display: inline-block;
  padding: 2px 5px 3px;
  font-size: 14px;
  line-height: 19px;
  color: #03166c;
  font-family: 'RobotoMono Regular', consolas, monospace;
  background-color: rgba(45, 80, 255, 0.1);
  vertical-align: top;
  text-indent: initial;
}

.area_document ul li code {
  text-indent: initial;
}

.area_document p em a,
.area_document p var a {
  color: #1b39eb;
}

.list_product {
  list-style: none;
}

.list_product li {
  list-style: none;
  float: left;
  position: relative;
  width: 278px;
  height: 320px;
  margin-top: 16px;
  padding: 40px 32px 32px;
  margin-left: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.list_product li:nth-child(4n + 1) {
  margin-left: 0;
  clear: both;
}

.list_product strong {
  display: inline-block;
  position: relative;
  max-width: 150px;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.44px;
}

.list_product a {
  display: block;
}

.area_document h4 {
  clear: both;
}

/* submain */
.section_subvisual {
  overflow: hidden;
  position: relative;
  height: 440px;
  background-color: #01092b;
}
.section_subvisual:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #031461;
  content: '';
}
.group_subhome {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}
.group_subhome .tit_subhome {
  float: left;
  margin-top: 160px;
  -webkit-animation: tit_effect1 0.3s linear 0.1s forwards 1;
  -moz-animation: tit_effect1 0.3s linear 0.1s forwards 1;
  animation: tit_effect1 0.3s linear 0.1s forwards 1;
}
.group_subhome .box_subhome {
  float: right;
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-animation: tit_effect1 0.3s linear 0.3s forwards 1;
  -moz-animation: tit_effect1 0.3s linear 0.3s forwards 1;
  animation: tit_effect1 0.3s linear 0.3s forwards 1;
}
@keyframes tit_effect1 {
  0% {
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.group_subhome .inbox_subhome {
  position: absolute;
}
.group_subhome .bg_product1 {
  top: -58px;
  left: 101px;
}
.group_subhome .bg_document1 {
  top: 160px;
  left: 110px;
}
.group_subhome .bg_tool1 {
  top: 158px;
  left: 129px;
}
.section_subcont {
  padding-bottom: 180px;
  background-color: #f7f8f8;
}
.group_subcont {
  width: 1160px;
  margin: 123px auto 0;
}
.tit_submain {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #111;
  letter-spacing: -0.6px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.link_submain {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #03166c;
  letter-spacing: -0.4px;
}
.link_submain .ico_developers {
  width: 11px;
  height: 10px;
  margin: 4px 0 0 5px;
  background-position: -180px -50px;
}

.box_document {
  margin: 22px -8px -8px;
}
.list_document {
  overflow: hidden;
}
.list_document li {
  float: left;
  width: 376px;
  margin: 8px;
}
.list_document .box_documentcont {
  position: relative;
  height: 330px;
  padding: 34px 32px 32px;
  background-color: #fff;
  box-sizing: border-box;
}
.list_document .tit_documentcont {
  display: inline-block;
  position: relative;
  width: 270px;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #111;
  letter-spacing: -0.4px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  vertical-align: top;
}
.list_document .tit_documentcont .link_g {
  display: inline-block;
  vertical-align: top;
}
.list_document .tit_documentcont .ico_developers {
  position: absolute;
  top: -12px;
  right: -54px;
  width: 54px;
  height: 54px;
  background-position: 0 -130px;
}
.list_document .desc_documentcont {
  position: absolute;
  bottom: 62px;
  left: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #444;
  letter-spacing: -0.4px;
}
.list_document .desc_documentcont .cover_documentcont {
  margin-top: 10px;
  font-size: 0;
  line-height: 20px;
}
.list_document .desc_documentcont .link_documentcont {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #2d50ff;
  letter-spacing: -0.4px;
  vertical-align: top;
}
.list_document .desc_documentcont .link_documentcont:hover {
  text-decoration: underline;
}
.group_subject {
  display: table;
  width: 100%;
  height: 200px;
  background-color: #03166c;
}
.area_subject {
  display: table-cell;
  position: relative;
  z-index: 1;
  padding-left: 82px;
  vertical-align: middle;
}
.area_subject .tit_subject {
  padding-top: 6px;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  color: #fff;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  letter-spacing: 0;
}
.area_subject .desc_subject {
  padding-top: 5px;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -0.42px;
}
.area_document {
  padding: 60px 82px 70px 82px;
}
.area_document .tit_document {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #111;
  letter-spacing: 0;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.tit_step {
  line-height: 28px;
  margin-top: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  padding-left: 32px;
  font-weight: normal;
  font-size: 18px;
  color: #111;
  letter-spacing: 0;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.tit_step .ico_developers {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  background: url(../image/pc/ico_developers.png) 0 0 no-repeat;
  background-size: 300px 200px;
  text-indent: -9999px;
  vertical-align: top;
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  background-position: -280px -70px;
}
.header-link {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
h1 .header-link {
  display: none;
}
h2 .header-link {
  background: url(../image/pc/anchor_02.png) 0 0 no-repeat;
  background-size: 27px 36px;
  height: 36px;
  width: 27px;
  margin-top: -1px;
}
h3 .header-link {
  background: url(../image/pc/anchor_03.png) 0 0 no-repeat;
  background-size: 24px 32px;
  height: 32px;
  width: 24px;
  margin-top: -5px;
}
h4 .header-link {
  background: url(../image/pc/anchor_04.png) 0 0 no-repeat;
  background-size: 21px 28px;
  height: 28px;
  width: 21px;
  margin-top: -9px;
}
h5 .header-link {
  background: url(../image/pc/anchor_05.png) 0 0 no-repeat;
  background-size: 18px 24px;
  height: 24px;
  width: 18px;
  margin-top: -12px;
}
p + .box_sign {
  margin-top: 16px;
}
.box_sign {
  margin-top: 16px;
  padding: 20px 32px;
  background-color: #f7f8f8;
  position: relative;
}
.box_sign > strong {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #111;
  letter-spacing: 0px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.box_sign .desc_sign {
  padding-top: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #444;
  letter-spacing: 0px;
  margin-bottom: 0px;
}
.box_sign .desc_sign + .desc_sign {
  padding-top: 16px;
}
.box_sign .desc_sign a {
  font-size: 14px;
  line-height: 24px;
}
.box_sign.type_error {
  background-color: #fff4f4;
}
.box_sign.type_error strong,
.box_sign.type_error .desc_sign {
  color: #d0021b;
}
.inbox_step {
  padding-left: 32px;
}
.inbox_step ul {
  padding-top: 18px !important;
}
.text_indent {
  padding-left: 32px;
}
.txt_code1 {
  display: inline-block;
  padding: 2px 5px 4px;
  font-size: 15px;
  line-height: 20px;
  color: #03166c;
  font-family: 'RobotoMono Regular', consolas, monospace;
  background-color: rgba(45, 80, 255, 0.1);
  vertical-align: top;
}
.txt_step {
  float: left;
  color: #03166c;
}
.area_document ol {
  counter-reset: numitem;
}
.area_document > ol {
  padding-top: 16px;
  padding-left: 32px;
  counter-reset: numitem;
}
.text_indent > ol {
  padding-top: 16px;
  padding-left: 0;
  counter-reset: numitem;
}
.area_document > ol > li,
.text_indent > ol > li {
  list-style: none;
  position: relative;
  padding-top: 8px;
  font-size: 15px;
  line-height: 25px;
  color: #444;
  letter-spacing: 0px;
}
#docsContent .area_document > ol > li,
#docsContent .text_indent > ol > li {
  margin-left: 24px;
}
.area_document ol > li {
  list-style: none;
  position: relative;
  padding-top: 8px;
  font-size: 15px;
  line-height: 25px;
  color: #444;
  letter-spacing: 0px;
  margin-left: 16px;
}
.area_document > ol > li:first-child,
.text_indent > ol > li:first-child {
  padding-top: 0;
}
#docsContent .area_document > ol > li:before,
#docsContent .text_indent > ol > li:before {
  left: -24px;
  width: 24px;
}
.area_document ol > li:before {
  position: absolute;
  left: -16px;
  width: 16px;
  counter-increment: numitem;
  content: counter(numitem) '.';
}
/* .area_document ul ol > li:before {
  left: 0;
}
.area_document ul ol > li {
  padding-left: 24px;
} */
.area_document > h3:first-child {
  margin-top: 0px;
  padding-top: 0px;
  border-top: unset;
}
.tit_step ~ .indent {
  padding-left: 32px;
}
button.normal {
  display: inline-block;
  min-width: 172px;
  height: 40px;
  margin-right: 2px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  letter-spacing: 0;
  background-color: #03166c;
  text-align: center;
  transition: background-color 0.25s;
  outline: none;
  padding: 1px 11px 0 11px;
  border: 0 none;
}
button.normal:hover {
  background-color: #000a48;
}
button.outlink {
  padding-right: 31px;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}
button.outlink span {
  width: 11px;
  height: 9px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAYAAABfJS4tAAAAAXNSR0IArs4c6QAAAV5JREFUOBGtlLtKxEAUhjc3iSCCRUjIC1jaWLrYbmVnKVjZWFjsA9hotS8gVt5qS8VGBAvZSmttbJJAwlpuE5P4HcmG7GIsJhk4zJmZzDf//JOZXk+hRFG0H4ZhTtw3TdebBv7rN03zoSiKL2LAIod/fasEdhwn0jTtQIB5no+SJFlfhCuBBeL7/i3VBbGcpukN6k3yqiiDhWDb9hHKP4FuYslxRSXR6g2VnAPsM++JKAzD6Luu+yKcVooFgCXPqB6h2siy7DqO4xXp76QAXQqC4JUo2MG5QDVpdEKvQbBkp7UVNV6VsoO8arRJSiveSivOhNWJYnw9gbVBfOi6PhRw69+N/3cbxY+wcqBbnueNBdxK8WQyWQV6SejE6Qwq4FYFC65KX8eAu7nSWLALbI/LMbUsS+rvukolK3jNfF6139MHNuS1e69DJZ+TvzjY1ObqDlC4xvgdV3q2wNznP+u+oEmU4kBRAAAAAElFTkSuQmCC)
    0 0 no-repeat;
  background-size: 11px 9px;
  position: absolute;
  top: 16px;
  right: 12px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
}
.box_sign span.deprecated {
  background: url(../image/pc/icon_deprecated.png) 0 0 no-repeat;
  background-size: 18px 18px;
}
.box_sign span.warning {
  background: url(../image/pc/icon_warning.png) 0 0 no-repeat;
  background-size: 18px 18px;
}
.box_sign span {
  margin-right: 8px;
  margin-bottom: 2px;
  vertical-align: text-bottom;
  height: 18px;
  width: 18px;
  display: inline-block;
}
.box_sign.collapse .desc_sign {
  max-height: 0;
  overflow: hidden;
  padding-top: 0px;
}
.box_sign.collapse.open_on .desc_sign {
  padding-top: 12px;
}
.box_sign.collapse .collapse_btn {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
}
.box_sign.collapse > .collapse_btn > strong {
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #111;
  letter-spacing: 0px;
  font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}
.box_sign .collapse_btn .ico_developers {
  width: 12px;
  height: 7px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 0;
  background: url(/docs/static/image/pc/collapse_chevron_up.png) 0 0 no-repeat;
  background-size: 12px 7px;
  margin-right: 0;
}
.box_sign.open_on .collapse_btn .ico_developers {
  transform: rotate(-180deg);
}

.hash-link {
  display: block;
  position: relative;
  top: -128px;
  visibility: hidden;
}

.heading-offset-anchor {
  display: block;
  position: relative;
  top: -167px;
  visibility: hidden;
}
h4 .heading-offset-anchor {
  top: -167px;
}
h5 .heading-offset-anchor {
  top: -145px;
}

.next-table-word-break-all + table {
  word-break: break-all;
}

.next-table-text-align-center + table td {
  text-align: center;
}

.next-table-text-align-center + table th {
  text-align: center;
}

td.text-align-center {
  text-align: center;
}

td.vertical-align-center {
  vertical-align: middle;
}

.badge {
  display: inline-block;
  height: 20px;
  margin-right: 1px;
  padding: 0 8px;
  border: 1px solid #ddd;
  font-size: 11px;
  font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕',
    'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  min-width: 59px;
}
.badge.type1 {
  border-color: rgba(45, 80, 255, 0.2);
  color: #03166c;
  background-color: rgba(190, 194, 255, 0.2);
}
.badge.type2 {
  border-color: #eeeeee;
  color: #707070;
}
.badge.type3 {
  border-color: #782ffe33;
  color: #782ffe99;
}
.badge.type4 {
  border-color: #e5e5e5;
  color: #707070;
}
h3 .badge {
  vertical-align: top;
  margin-top: 6px;
}

/* modal */
#docsModal {
  position: absolute;
}
.docsToastRoot {
  position: fixed;
  top: 138px;
  right: 10px;
  width: 400px;
  z-index: 2000;
}
.docsToastRoot li {
  margin-bottom: 10px;
}
.docsToast {
  position: relative;
  padding: 13px 36px 11px 20px;
  background-color: rgba(218, 222, 240, 0.95);
}
.docsToast .desc_msg {
  font-size: 14px;
  line-height: 24px;
  color: #03166c;
  letter-spacing: 0;
}
.docsToast .btn_close {
  position: absolute;
  top: 11px;
  right: 12px;
  padding: 8px;
  font-size: 0;
}
.docsToast .btn_close .kdc_ico_developers {
  width: 12px;
  height: 12px;
  background: url(../image/pc/ico_developers41.png) 0 0 no-repeat;
  background-size: 12px 12px;
}
.tooltip {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
}
.tooltip_box {
  opacity: 0;
  pointer-events: none;
  max-width: 272px;
  min-width: 60px;
  width: max-content;
  background-color: #555555;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  padding: 12px 16px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  z-index: 1;
  word-break: break-all;
  white-space: pre-line;
  transition: opacity 0.2s;
  text-indent: 0;
  --arrow-margin-left: -5px;
}
.tooltip:hover .tooltip_box {
  transition-delay: 0.3s;
  opacity: 1;
}
.tooltip .tooltip_box::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: var(--arrow-margin-left);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555555 transparent;
}
